.homeTitle ::first-letter{
    color: red;
}
:hover .homeTitle{
    display: flex;
}
:hover .homeHidden{
display: none;
}
:hover .homeHidden::after{
    display: none;
    display: flex;
}
:hover .home{
    background-color: rgb(255, 0, 0);

}
.home{
    background-color: black;
}