@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');
.navbar {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}
.navbar .leftSide {
    flex: 50%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar img{
width: 110px;
height: 100px;
border: 2px rgb(228, 231, 216);

}

.navbar a{
    color: white;
    text-decoration: none;
    margin: 20px;
    font-family: 'Josefin Sans';
  text-transform: uppercase;
  font-size: smaller;
}
.link{
    padding: 10px;
}
.navbar button{
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
}
.navbar #open{
    padding-left: 0px;
}
.navbar #open img{
    display:none;
}
.navbar #close img{
    display: inherit;
}
.navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
}
.navbar #close .hiddenLinks{
    display: none !important;
}
.navbar #open a {
    width: 70px;
    margin: 5px;
}
@media only screen and (max-width: 900px){
    .navbar .rightSide a {
        width: 70px;

    }
    .navbar .leftSide a {
        padding-left: 50px;
    }
}
@media only screen and (max-width: 600px){
    .navbar {
        background-color: black;
    }
    .navbar .rightSide a {
        display: none;
    }
    .navbar .rightSide{
        justify-content: flex-end;
        background-color: black;
        padding-right: 50px;

    }
    .navbar .rightSide button {
        display: inherit;
        background-color: black;
    }

}
@media only screen and (min-width: 600px){
    .navbar .rightSide button{
        display: none;
    }
    .hiddenLinks{
        display: none;
    }
}